.table{
    border: 1px;
}

th,td{
color: rgb(230, 225, 225);
background-color: black;
}


.r {
width: 100%;
border-collapse: collapse;
}
th, td {
border: 1px solid #333;
padding: 10px;
text-align: center;
}

.u{
    border: 1px;
}

.task4 th {
background-color: #ccc;
font-weight: bold;
}

.task5 th, .task5 td {
border: 2px solid red;
}
.task5 td:hover {
background-color: lightgreen;
}
